/*about-IT*/

.about-IT {
	width: 100%;
	height: 100%;
	text-align: center;
	color: @white-color;
	background-color: @bg-black-color;
	background-image: url(../images/bg_about_IT.png);
	background-size: 300px;
	background-position-x: 20px;
	background-position-y: center;
	background-attachment: fixed;
	background-repeat-x: no-repeat;
	background-repeat-y: repeat;
}