/*blog*/

.blog {
	width: 100%;
	min-height: 380px;
	color: @white-color;
	background-color: @bg-black-color;
	background: url(../images/blog_bg_img.jpg) no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
}