/*blog*/
.blog {
	min-height: 500px;
	background-color: @bg-black-color;
	background-image: url(../images/bg-img-blog.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

}
.blog__heading {
	margin-left: 6%;
}
.blog__description {
	width: 50%;
	color: @white-color;
	margin-left: 6%;
	line-height: 1.5;
}