/*feedback-form*/

.feedback-form {
	background-color: @bg-black-color;
	min-height: 500px;
	background-image: url(../images/backgraund-feedback-form-mobile.jpg);
	background-size: cover;
	background-position: right top;
	background-repeat: no-repeat;
}

label, input, textarea {
	width: 250px;
	display: block;
}

input {
	height: 24px;
}