/*feedback form*/
.feedback-form {
	width: 100%;
	min-height: 480px;
	color: @white-color;
	background-color: @bg-black-color;
	background: url(../images/feedback_bg_mobile.jpg) no-repeat right center;
	background-size: cover;
}