/*feedback form*/
.feedback-form {
	width: 100%;
	min-height: 100%;
	color: @white-color;
	background-color: @bg-black-color;
	background-image: url(../images/backgraund-feedback-form.jpg);
	background-repeat: no-repeat;
	background-size: cover;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;

}