/*header__main-nav*/

.header__menu-items {
	list-style: none;
	text-transform: uppercase;
}

.header__link-item {
	text-decoration: none;
	color: @main-color;
	&:hover {
		transition: 0.3s;
		color: @heading-color;
	}
}
