/*heading for main page*/
.heading {
	display: block;
	font-size: 16px;
}
.sect-photo-portfolio__heading-link {
		text-decoration: none;
		text-transform: uppercase;
		color: @heading-color;
		&:hover {
		color: @white-color;
	}
}