/*lifehacks-description*/

.lifehacks-description {
	width: 75%;
	position: relative;
	&::before {
		content: "";
		position: relative;
		display: block;
		margin: 0 auto;
		width: 60px;
		height: 60px;
		padding-bottom: 20px;
	}
}
.lifehacks__photo-description::before {
	background: url(../images/lifehacks_photo_camera.svg) no-repeat top left;
}

.lifehacks__office-description::before {
	background: url(../images/lifehacks_graph_screen.svg) no-repeat top left;
}
.lifehacks__video-description::before {
	background: url(../images/lifehacks_smartphone_video.svg) no-repeat top left;
}