/*lifehaks*/

.lifehaks__item {
	width: 80%;
	margin: 0 auto;
}
.lifehaks-photo {

}
.lifehaks-photo:before {
	background: url(../images/photo-camera-with-a-flash.svg) no-repeat 50% 50%;	
}
.lifehaks-office:before {
	background: url(../images/analytics.svg) no-repeat 50% 50%;
}
.lifehaks-video:before {
	background: url(../images/video-player.svg) no-repeat 50% 50%;
}
.lifehaks__item:before {
	content: "";
	display: block;
	width: 64px;
	height: 64px;
	margin: 0 auto;
	background-size: 64px 64px;
}
