/*links-for-all buttom default*/
.links-for-all {
	display: inline-block;
	width: 126px;
	padding: 8px 0;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: @white-color;
	background-color: @heading-color;
	border-radius: 4px;
	transition: 0.3s;
	opacity: 1;
	&:hover {
		background-color: #b32d4a;
	}
}