/*media */
@media (min-width: 450px) {
	.header__nav-item:first-child {
		br {display: none}
	}
	.header__bg-img {
		width: 73%;
	}
}

@media (min-width: 650px) {
	.header__main-nav {
		width: 35%;
		margin-left: 10%;
		font-size: 14px;
	}
	.header__bg-img {
		padding: 0;
		width: 73%;
		margin-left: 19%;
	}
	.header__logo-link {
		position: absolute;
		margin-top: 24%;
		margin-left: -34%;
		z-index: 5;
	}
	.header__nav-item:nth-child(2) {
		margin-left: 33%;
	}
	.header__nav-item:nth-child(3) {
		margin-left: 6%;
	}
	.header__nav-item:last-child {
		margin-left: 36%;
	}
}

@media (min-width: 768px) {
	.header__bg-img {
		width: 62%;
		margin-left: 29%;
	}
	.header__main-nav {
		margin-top: -64%;
		margin-left: 16%;
	}
	.header__logo-link {
		margin-top: 20%;
		margin-left: -24%;
	}
}