/*sect-photo-portfolio__block*/
.sect-photo-portfolio__block {
	width: 58%;
	transition: 0.5s;
}

.sect-photo-portfolio__menu {
	display: inline-block;
	width: 100%;
}

.sect-photo-portfolio__caption {
	display: block;
	width: 100%;
	height: 40px;
	padding-top: 10px;
	text-decoration: none;
	color: @white-color;
	text-transform: uppercase;
	background-color: black;
	border: 1px solid transparent;
	transition: 0.3s;
}

.sect-photo-portfolio__img {
	opacity: 0.8;
	transtiton: 0.3s;
}

.sect-photo-portfolio__block:hover .sect-photo-portfolio__img{
	opacity: 1;
}
.sect-photo-portfolio__block:hover .sect-photo-portfolio__caption {
	border: 1px solid @white-color;
	color: @heading-color;
}
