/*just-about-IT__description*/
.simply-about-IT {
	min-height: 350px;
	text-align: center;
	padding: 60px 0 40px 0;
	color: @white-color;
	background-color: @bg-black-color;
	background-image: url(../images/bg-sect-about-IT.png);
	background-attachment: fixed;
	background-size: 350px;
	background-repeat: no-repeat;
	background-position: left center;
}

.simply-about-IT__description {
	width: 85%;
    line-height: 1.5;
}